<!DOCTYPE html>
<!-- 
    Document   : index
    Created on : Apr 8, 2014, 6:59:12 PM
    Author     : Dr. Storm
    Description:
        This is a test slider for team Avalon
-->
<html>
    <head>
        <title >Slider Test Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="taberSlider.js"></script>
    </head>
    <body>
       <div class="body" ng-app="mySlider">
            <div ng-controller="SliderController">
                <button ng-click="decrease()">-</button>
                <span>{{string}}</span>
                <button ng-click="increase()">+</button>
                <p>The value is {{value}}!</p>
            </div>  
        </div>
        
        
    </body>
</html>